.main-container{
    .gameboard{
        margin-top: 30px;

        #divinfos{
            text-align: center;
        }

        .player-one{
            p{
                color: rgb(83,163,83);
            }
        }

        .player-two{
            p{
                color: rgb(230,109,109);
            }
        }

        .gamefield{
            max-width: 450px;
            margin-top: 50px;
            .subfield{
                cursor: pointer;
                height: 150px;
                width: 150px;
                border: 6.67px solid #E5E5E5;
                &.player-one{
                    background: rgb(83,163,83);
                }
                &.player-two{
                    background: rgb(230,109,109);
                }
            }
        }
    }
}
